h1 {
    text-align: center;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand > img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.temtem-entry {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.temtem-entry:nth-child(2n+1):not(h3) {
    justify-content: flex-end;
}

.temtem-entry > img {
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.temtem-entry .temtem-info {
    color: white;
    background-color: #30322f;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.temtem-type {
    display: flex;
    align-items: center;
}

.temtem-type:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../data/placeholder.png') no-repeat;
    background-size: cover;
}

.temtem-type.crystal:before {
    background: url('../data/types/crystal.png') no-repeat;
    background-size: cover;
}

.temtem-type.digital:before {
    background: url('../data/types/digital.png') no-repeat;
    background-size: cover;
}

.temtem-type.earth:before {
    background: url('../data/types/earth.png') no-repeat;
    background-size: cover;
}

.temtem-type.electric:before {
    background: url('../data/types/electric.png') no-repeat;
    background-size: cover;
}

.temtem-type.fire:before {
    background: url('../data/types/fire.png') no-repeat;
    background-size: cover;
}

.temtem-type.melee:before {
    background: url('../data/types/melee.png') no-repeat;
    background-size: cover;
}

.temtem-type.mental:before {
    background: url('../data/types/mental.png') no-repeat;
    background-size: cover;
}

.temtem-type.nature:before {
    background: url('../data/types/nature.png') no-repeat;
    background-size: cover;
}

.temtem-type.neutral:before {
    background: url('../data/types/neutral.png') no-repeat;
    background-size: cover;
}

.temtem-type.toxic:before {
    background: url('../data/types/toxic.png') no-repeat;
    background-size: cover;
}

.temtem-type.water:before {
    background: url('../data/types/water.png') no-repeat;
    background-size: cover;
}

.temtem-type.wind:before {
    background: url('../data/types/wind.png') no-repeat;
    background-size: cover;
}

.temtem-types {
    display: flex;
    flex-direction: row;
}

.temtem-entry.active .temtem-select,
.temtem-entry:not(.active) .temtem-name,
.temtem-entry:not(.active) .temtem-types {
    display: none;
    opacity: 0;
}

#calculate {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculate a {
    padding: 20px;
    background-color: #30322f;
    color: white;
    text-decoration: none;
}

#calculate a:link,
#calculate a:visited,
#calculate a:hover,
#calculate a:active, {
    color: white;
}

#calculate a:hover,
.temtem-entry:hover .temtem-info,
.temtem-entry:hover img {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#temtem-modal .temtem-type {
	padding: 5px;
}

#temtem-modal .temtem-name {
	float: left;
}

#temtem-modal {
    display: flex;
	justify-content: center;
	position: fixed;
	background: transparent;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
    will-change: visibility, opacity;
    visibility: hidden;
	opacity: 0;
}

#temtem-modal.active {
    visibility: visible;
    opacity: 1;
}

#temtem-modal .dialog {
	max-width: 600px;
	width: 100%;
	padding: calc(2.4rem / 2);
	overflow-y: auto;
    overflow-x: hidden;
}

#temtem-modal .dialog ul {
	position: relative;
	padding: 2.4rem;
	background: #ecececfa;
	background-clip: padding-box;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0,0,0.25);
	list-style: none;
}

#temtem-modal .dialog ul li {
	padding: 10px;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

#temtem-modal .dialog ul li img {
	border: 1px solid white;
    border-radius: 50%;
}

#temtem-modal .dialog ul li:hover {
	cursor: pointer;
}

#results table {
    border-radius: 20px;
    background: #30322f;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#results table th,
#results table td {
    padding: 1em;
}

#results table tr {
    border-bottom: 1px solid white;
}

#results table tr th:first-child,
#results table tr td:first-child {
    border-right: 1px solid white;
}

#choose-temtem {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#choose-temtem .temtem-panel {
    flex: 1;
    padding: 10px;
    background: #4f504f;
    border-radius: 20px;
    margin: 0 10px;
}

#choose-temtem .temtem-panel h3 {
    text-align: center;
    font-size: 24px;
    color: white;
}

#calculate,
#results {
    margin-bottom: 20px;
}
